* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Flexo-Regular", "Roboto", arial, sans-serif;
  /*background: #424242 url('https://live.staticflickr.com/5525/9284726402_caf107949e_k.jpg') no-repeat;*/
  background-size: cover;
  font: rgb(255, 255, 255);
  /* Optional: To cover the entire background */
}